body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://images.wallpapersden.com/image/download/autumn-season-in-painting_67171_1440x900.jpg"); */
  /* background-image: url("https://media.giphy.com/media/xT1XGw9YcAQW36LAL6/giphy.gif"); */
  background-image: url("https://media.giphy.com/media/kSgs8wC7hmqHK/giphy.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  /* background: yellow; */
}

.nav a {
  background-color: black;
  text-decoration: none;
  border: 1px solid purple;
  color: white;
  text-align: center;
  width: 25%;
  height: 3rem;
  /* display: inline-grid; */
  /* margin: 1rem 2rem 2rem; */
  box-shadow: 0 0 1rem 0 purple;   
  background-color: black; 
  border-radius: 25px;
  padding-top: 1.5em;
}
.banner {
  background: purple;
  color: White;
  font-family: 'Poiret One', cursive;
  height: 7vmin;
  font-size: 3rem;

}

.home-choice {
  background-color: black;
  border: 1px solid purple;
  color: white;
  text-align: center;
  width: 25%;
  height: 8rem;
  display: inline-grid;
  margin: 1rem 2rem 2rem;
  box-shadow: 0 0 1rem 0 purple;
  border-radius: 25px;
}

.welcome {
  display: flex;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  padding: 10% 10% 10% 2%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}

.welcome a {
  padding-top: 3%;
}
.food-diary li {
  color: purple;
}

.food-diary {
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.food-diary h1{
  color:white;
  background: purple;
}
.food-diary li {
  border: 1px solid purple;
  box-shadow: 0 0 1rem 0 purple; 
  color: white;
  background: black;
  padding-bottom: 1em;
  border-radius: 15px;
  margin: auto;
  text-align: center;
}

.newfood {
  width: 100%;
}
.newfood ul{
  background: rgba(0, 0, 0, 0.5);
  color:white;
  padding-inline-start: 0px;
  width: 50%;
  margin: auto;

}

.newfood form {
  display:flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
  padding-bottom: 1%;;
}
.wel-message a {
  text-decoration: none;
  background-color: black;
  border: 1px solid purple;
  color: white;
  text-align: center;
  width: 25%;
  height: 3rem;
  display: inline-grid;
  margin: 1rem 2rem 2rem;
  box-shadow: 0 0 1rem 0 purple;   
  border-radius: 5px;
  background-color: black; 
  border-radius: 25px;
} 

.wel-message a:hover {
  transform: scale(1.1);
}

.sign-in-form {
  background-color: black;
  border: 1px solid purple;
  color: white;
  text-align: center;
  width: 28%;
  height: 9rem;
  display: inline-grid;
  /* margin: 1rem 2rem 2rem; */
  box-shadow: 0 0 1rem 0 purple;   
  background-color: black; 
  border-radius: 25px;
  padding-bottom: 2em;
}

.sign-in-form form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.login-form {
  background-color: black;
  border: 1px solid purple;
  color: white;
  text-align: center;
  width: 28%;
  height: 9rem;
  display: inline-grid;
  /* flex-direction: column ; */
  /* margin: 1rem 2rem 2rem; */
  box-shadow: 0 0 1rem 0 purple;   
  background-color: black; 
  border-radius: 25px;
  padding-bottom: 2em;
}

.login-form form{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.choice-container {
  /* background: yellow; */
}

/* .choice-container a {
  text-decoration: none;
  background-color: black;
  border: 1px solid white;
  color: white;
  text-align: center;
  width: 25%;
  height: 3rem;
  display: inline-grid;
  margin: 1rem 2rem 2rem;
  box-shadow: 0 0 1rem 0 blue;   
  background-color: black; 
  border-radius: 25px;
} */

.home-choice a {
  text-decoration: none;
  color: white;
  padding-top: 30%;
}

.home-choice:hover {
  transform: scale(1.1);
}

.newfood ul{
  list-style: none;
}

.newfood li {
  border: 1px solid purple;
  box-shadow: 0 0 1rem 0 purple; 
  color: white;
  background: black;
  padding-bottom: 1em;
  border-radius: 15px;
  margin: auto;
  text-align: center;
}

.newfood li:hover {
  transform: scale(1.1);
}